body{
    background-color: aquamarine;
    display: grid;
    height: 90vh;
    place-items: center;
}

.register{
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
.log{
    margin: 15px;
}
.group{
    display: grid;
    grid-template-areas: 
    "login1 cod"
    "login2 dni";
}
#login1{
    grid-area: login1;
}
#login2{
    grid-area: login2;
}
#cod{
    grid-area: cod;
}
#dni{
    grid-area: dni;
}